.lock {
  width: 25.653vw;
  height: 38.129vh;
  display: block;
}

:host ::ng-deep .lock > * {
  background-color: rebeccapurple;
  width: inherit;
  height: inherit;
}
.wave {
  display: block;
  height: inherit;
  width: inherit;
}
