<h2 class="hFP">Users</h2>

<!-- get details from api -->
<div class="card-container">
  <app-h-cards
    *ngFor="let card of cards"
    [icon]="'user_icon'"
    [record]="card.record"
    [label]="card.label"
  ></app-h-cards>
</div>

<app-toggle-bar [toggleData]="toggleData" (setActive$)="activeTab = $event">
</app-toggle-bar>

<div class="order-table">
  <app-table
    [headings]="tableHeaders"
    [tableData]="mappedUsers"
    [activeTab]="activeTab"
    [dataType]="'user'"
  >
  </app-table>
</div>
