<h2 class="hFP">Users</h2>

<!-- get details from api -->
<!-- <div class="card-container">
  <app-h-cards
    *ngFor="let card of cards"
    [icon]="'order_icon'"
    [record]="card.record"
    [label]="card.label"
  ></app-h-cards>
</div> -->

<app-toggle-bar [toggleData]="toggleData" (setActive$)="activeTab = $event">
</app-toggle-bar>

<div class="order-table">
  <div class="table-caption">
    <div class="table-info w-max">
      <h3>
        Here you can see
        <span class="text-primary">{{ activeTab }}</span> Users
      </h3>
    </div>
    <div class="table-operation">
      <button class="btn export-btn">
        <app-svg name="download-cloud"></app-svg>
        <span>Export</span>
      </button>
    </div>
  </div>
  <app-table
    [headings]="tableHeaders"
    [tableData]="mappedUsers"
    [activeTab]="activeTab"
    [dataType]="'user'"
  >
  </app-table>
</div>
