@import "./../../../../styles";

.card_content {
  // background-color: beige;
  display: flex;
  flex-direction: column;

  gap: 1.3rem;
  .card__content__info {
    display: flex;
    gap: 0.8rem;
  }
  .card__content__info__record {
    color: $color-gray-6;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
  }
  .card__content__subtitle__lable {
    color: $color-gray-6;
    font-family: Inter;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    // word-break: keep-all;
  }
}
