@import "../../../../styles";

.bar_card {
  margin-top: 16px;
  display: flex;
  width: 84rem;
  height: 315px;
  padding: 16px 16px;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;

  gap: 8px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);

  h2 {
    color: #333;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 22px;
  }

  .stats {
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: center;
    align-items: center;

    .chart-container {
      display: block;

      box-sizing: border-box;
      height: 24rem;
      width: inherit;

      canvas {
        width: 640px !important;
      }
    }
  }
}
