<main class="container">
  <div class="box">
    <div class="box__illutration">
      <app-svg name="Illustration" class="lock"></app-svg>
      <app-svg name="Vector" class="wave"></app-svg>
    </div>
    <div class="box__form">
      <div class="box__form__title">
        <h2>Sign in</h2>
      </div>

      <form class="box__form__details">
        <div class="flex flex-col gap-[4.8vh]">
          <div class="relative box__form__details__input-group">
            <label for="email" class="label">Email</label>
            <input
              type="email"
              id="email"
              placeholder="Enter your email address"
              required
            />
            <app-svg name="message" class="icon"></app-svg>
          </div>
          <div class="relative box__form__details__input-group">
            <label for="email" class="label">Password</label>
            <input
              type="password"
              id="password"
              placeholder="Enter your Password"
              required
            />
            <app-svg name="lock" class="icon"></app-svg>
          </div>
        </div>
        <div class="flex justify-between mt-3 box__form__details__info">
          <div class="flex gap-4">
            <input type="checkbox" name="remmberMe" id="remmberMe" />

            <label for="remmberMe">Rememebr me</label>
          </div>

          <div class="cursor-pointer text-primary fw-bold">
            Forgot Password ?
          </div>
        </div>
        <button class="btn btn-signIn">Login</button>
      </form>
    </div>
  </div>
</main>
