<h2 class="hFP">Orders</h2>
<div class="card-container">
  <app-h-cards
    *ngFor="let card of cards"
    [icon]="'order_icon'"
    [record]="card.record"
    [label]="card.label"
  ></app-h-cards>
</div>

<app-toggle-bar [toggleData]="toggleData" (setActive$)="activeTab = $event">
</app-toggle-bar>

<div class="my-4 order-table">
  <!-- <div class="table-caption">
    <h3>Orders</h3>
    <p>Here you can see {{ activeTab }} orders</p>
  </div> -->
  <app-table [headings]="tableHeaders" [tableData]="ordersData"> </app-table>
</div>

<!-- <div class="order-table">
  <app-table
    [tableData]="tableData"
    [tableHeaders]="tableHeaders"
    [activeTab]="activeTab"
  ></app-table>
</div> -->
