<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuqNSmNt2OFknR91b8yAXBdGqVE3ojY8g</string>
	<key>GCM_SENDER_ID</key>
	<string>124269518597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wheelNDeal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wheel-n--deal</string>
	<key>STORAGE_BUCKET</key>
	<string>wheel-n--deal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124269518597:ios:8b58833388fbff4c83a16c</string>
</dict>
</plist>