@import "../../../styles";

:host {
  display: flex;
  flex-direction: column;

  margin-block: 3.1rem;
  margin-inline: 1.8rem;
}

.card-container {
  display: flex;
  gap: 3.4rem;
  background-color: #fff;
  align-items: flex-start;
  // padding-inline: 1.8rem;
  // padding-top: 10.4rem;
}
