<div class="card-container">
  <app-dash-card
    title="Total Users"
    icon="total_user_card"
    [data]="numOfAllUsers"
  ></app-dash-card>
  <app-dash-card
    title="Total Commuters"
    icon="total_commuter_card"
    [data]="numOfCommuters"
  ></app-dash-card>
  <app-dash-card
    title="Total Orders"
    icon="total_orders_card"
    [data]="numOfOrders"
  ></app-dash-card>

  <app-dash-card
    title="Total Revenue"
    icon="total_revenue_card"
    [data]="totalRevenue"
  ></app-dash-card>
</div>

<app-pie-chart
  [successfulOrders]="successfulOrders"
  [pendingOrders]="pendingOrders"
  [failureOrders]="failureOrders"
  [totalOrders]="totalOrders"
></app-pie-chart>
