<div class="card-container">
  <app-dash-card
    title="Total Users"
    icon="total_user_card"
    [data]="numOfAllUsers"
  ></app-dash-card>
  <app-dash-card
    title="Total Commuters"
    icon="total_commuter_card"
    [data]="numOfCommuters"
  ></app-dash-card>
  <app-dash-card
    title="Total Orders"
    icon="total_orders_card"
    [data]="numOfOrders"
  ></app-dash-card>

  <app-dash-card
    title="Total Revenue"
    icon="total_revenue_card"
    [data]="totalRevenue"
  ></app-dash-card>
</div>

<div class="charts-container">
  <app-doughnut-chart
    [totalOrders]="numOfAllOrders"
    [not_activeOrders]="NotActiveOrders"
    [pendingOrders]="pendingOrders"
    [confirmiedOrders]="confirmedOrders"
    [in_progressOrders]="inProgressOrders"
    [successfulOrders]="successfulOrders"
    [failureOrders]="failureOrders"
    [returnedOrders]="ReturnedOrders"
  ></app-doughnut-chart>

  <app-bar-chart
    [title]="'Orders Last Week'"
    chartId="OrderChart"
    [labels]="chartData.labels"
    [data]="chartData.data"
  ></app-bar-chart>
</div>

<div class="charts-container">
  <!-- <app-bar-chart></app-bar-chart>
  <app-doughnut-chart
    [totalOrders]="numOfAllOrders"
    [not_activeOrders]="NotActiveOrders"
    [pendingOrders]="pendingOrders"
    [confirmiedOrders]="confirmedOrders"
    [in_progressOrders]="inProgressOrders"
    [successfulOrders]="successfulOrders"
    [failureOrders]="failureOrders"
    [returnedOrders]="ReturnedOrders"
  ></app-doughnut-chart> -->
</div>
