<div class="container_card">
  <h2>Total Orders</h2>
  <div class="stats">
    <div class="chart-container relative">
      <h6>{{ totalOrders }}</h6>
      <canvas id="myChart"> </canvas>
    </div>
    <div class="details">
      <ul>
        <li>
          Not_Active:<span>{{ not_activeOrders }}</span>
        </li>
        <li>
          Pending:<span>{{ pendingOrders }}</span>
        </li>
        <li>
          Confirmed:<span>{{ confirmiedOrders }}</span>
        </li>
        <li>
          In-Progress:<span>{{ in_progressOrders }}</span>
        </li>
        <li>
          Success:<span>{{ successfulOrders }}</span>
        </li>
        <li>
          Failed:<span>{{ failureOrders }}</span>
        </li>
        <li>
          Returned:<span>{{ returnedOrders }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
