<table>
  <thead>
    <tr>
      <th *ngFor="let heading of headings">{{ heading }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableData">
      <td>{{ row.id }}</td>
      <td>{{ row.orderStatus }}</td>
      <td>{{ row.senderPhoneNumber }}</td>
      <td>{{ row.receiverPhoneNumber }}</td>
      <td>{{ row.from }}</td>
      <td>{{ row.to }}</td>
      <td>{{ row.orderName }}</td>
      <td>{{ row.expiryDate }}</td>
      <td>{{ row.expectedPrice }}</td>
      <td>{{ row.countOfOrders }}</td>
      <td>{{ row.breakable }}</td>
      <td>
        <img class="order-img" [src]="row.orderPhotoUrl" alt="Order picture" />
      </td>
    </tr>
  </tbody>
</table>
